<% layout("/layouts/boilerplate")  %> 

<body>


    <!-- making the page for showing the each and every post in detailed manner by its id -->

    <h3> Listing details :</h3>
    <ul>
      
            <li><b>Name</b> : <%= listing.title %></li>
            <li><b>Description</b> :<%= listing.description %></li> 
                          <!-- redirecting to the link to view each in detail -->
            <li>&#8377 <%= listing.price.toLocaleString("en-IN") %> /-</li>  
                          <!-- &#8377 depits the rupee symbol anf toLocaleString function tells to give commas after a proper nukber such as 5,000 -->
            <li> <b>Location</b> :<%= listing.location %></li>
            <li><b>Country</b> :<%= listing.country %></li>   
      
    </ul>
    <br>

    <!-- Editing the page by passing the given id and the going to edit page and the submit  -->
    <button><a href="/listings/<%= listing._id %>/edit"> Edit this listings </a></button>  
    <br> <br>

    <!-- creating a post request for delete and update operation and the writing at last the using the method=DELETE   -->

    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button> Delete this listing </button>
    </form>

</body>
